/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* month grid */
section :is(ol, ul) {
    display: grid;
    font-size: small;
    grid-row-gap: .33em;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    margin: unset;
    padding: unset;
    position: relative;
    width: 96%;
  }
  
  /* days */
  section :is(ol, ul) :is(abbr, time) {
    background-color: none;
    block-size: 2em;
    border-radius: 50%;
    color: inherit;
    display: inline-block;
    font-size: inherit;
    font-weight: 400;
    inline-size: 2.1em;
    line-height: 2em;
    
    /* adjust the height of the calendar rows */
    margin-block: 0.75em;
    text-align: center;
    user-select: none;
    
  }
  
  /* day wrappers */
  section :is(ol, ul) li {
    border-color:  hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 0 0 0 0;
    grid-column: var(--kalel-li-gc, initial);
    text-align: end; 
    
  }
  
  [data-firstday="1"] [data-day="1"]:first-child { --kalel-li-gc: 1 / 2; }
  [data-firstday="1"] [data-day="2"]:first-child { --kalel-li-gc: 1 / 3; }
  [data-firstday="1"] [data-day="3"]:first-child { --kalel-li-gc: 1 / 4; }
  [data-firstday="1"] [data-day="4"]:first-child { --kalel-li-gc: 1 / 5; }
  [data-firstday="1"] [data-day="5"]:first-child { --kalel-li-gc: 1 / 6; }
  [data-firstday="1"] [data-day="6"]:first-child { --kalel-li-gc: 1 / 7; }
  [data-firstday="1"] [data-day="7"]:first-child { --kalel-li-gc: 1 / 8; }
  
  [data-firstday="6"] [data-day="1"]:first-child { --kalel-li-gc: 1 / 4; }
  [data-firstday="6"] [data-day="2"]:first-child { --kalel-li-gc: 1 / 5; }
  [data-firstday="6"] [data-day="3"]:first-child { --kalel-li-gc: 1 / 6; }
  [data-firstday="6"] [data-day="4"]:first-child { --kalel-li-gc: 1 / 7; }
  [data-firstday="6"] [data-day="5"]:first-child { --kalel-li-gc: 1 / 8; }
  [data-firstday="6"] [data-day="6"]:first-child { --kalel-li-gc: 1 / 1; }
  [data-firstday="6"] [data-day="7"]:first-child { --kalel-li-gc: 1 / 3; }
  
  [data-firstday="7"] [data-day="1"]:first-child { --kalel-li-gc: 1 / 3; }
  [data-firstday="7"] [data-day="2"]:first-child { --kalel-li-gc: 1 / 4; }
  [data-firstday="7"] [data-day="3"]:first-child { --kalel-li-gc: 1 / 5; }
  [data-firstday="7"] [data-day="4"]:first-child { --kalel-li-gc: 1 / 6; }
  [data-firstday="7"] [data-day="5"]:first-child { --kalel-li-gc: 1 / 7; }
  [data-firstday="7"] [data-day="6"]:first-child { --kalel-li-gc: 1 / 8; }
  [data-firstday="7"] [data-day="7"]:first-child { --kalel-li-gc: 1 / 2; }
  
  * {
    font-family: Poppins;
  }
  
  body {
    padding-top: 20px;
    padding-bottom: 2%;
  }
  
  .month-tab {
    color: #393939;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
    width: 90px;
    text-decoration: none;
  }
  
  .days {
    color: #A2A2AD;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
  }
  
  .observance {
    list-style-type: none;
    color: grey;
    font-size: 16px;
    text-decoration: underline;
    font-family: Poppins;
  }
  
  .month-long {
    font-weight: bold;
    font-size: 18px;
    font-family: Poppins;
  }
  
  .observances {
    color: #A2A2AD;
    font-size: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 21.018px;
    letter-spacing: 0.14px;
    list-style-type: none; 
    cursor: pointer;
  }
  
  .click-on-more {
    color: #A2A2AD;
    font-family: Poppins; 
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150.127%; /* 18.015px */
    letter-spacing: 0.12px;
  }
  
  .observance-heading {
    color: #393939;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .navbar-nav > li{
    padding-top: 5px;
  }
  
  .observances:hover {
    text-decoration: underline;
  }
  
  .top-container {
    display: flex; 
    flex-wrap: wrap; 
    flex-wrap: wrap-reverse;
    margin: 0 0 4.25% 0; 
    padding: 1.3rem 1.3rem 0 1.3rem;
    gap: 2%;
  }
  
  section {
    min-width: 300px; 
    width: 425px; 
    padding: 2% 0 0 0; 
    color: #A2A2AD;
  }
  
  .banner-container {
    width: 580px; 
    color: #A2A2AD;
  }
  
  .banner-image {
    width: 100%; 
    height: auto;
    border-radius: 22px;
  }
  
  .bottom-container {
    display: flex; 
    flex-wrap: wrap-reverse;
    
  }
  
  .date-container {
    width: 300px;
    padding: 0 0 20px 20px;
  }
  
  .description-container {
    width: 63%;
    min-width: 330px; 
    padding-left: 35px;
    
  }
  
  .info-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 30px; 
    
    width: 90%; 
    
    border-radius: 22px;
    border: 0.5px solid #DFE2E7;
    box-shadow: 0px 0px 8.3px 0px rgba(196, 196, 196, 0.25);
    
  }
  
  .info-picture {
    width: 80%;
    padding-bottom: 1rem;
  }
  
  .info-title {
    
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.127%; /* 24.02px */
    letter-spacing: 0.16px; 
  }
  
  .info-description {
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 187%; /* 26.18px */
    letter-spacing: 0.14px;
    
    max-width: 500px;
  }
  
  .readmore {
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 187%; /* 26.18px */
    letter-spacing: 0.14px;
    text-decoration: none;
    max-width: 500px;
    margin-top: -1rem;
  }
  
  .readmore:hover {
    text-decoration: underline;
  }
  
  .morecollapse {
    margin-top: -1rem;
  }
  .menu-item {
    color: #393939;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
  }
  
  .mobile-month {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #393939;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
  }
  
  .navbar,
  .navbar-nav,
  .dropdown-menu,
  .navbar-toggler:focus {
    /*Below line will remove the border from the icon
    I have used bootstrap icon here */
    /* This will only remove the shadow effect */
    /* Border is still there */
    /* if you don't want any border then set the property equals to zero */
    border: 0 !important;
    box-shadow: none !important;
  
    /* This will remove the rounded corner(radious-border)
    and give square border */
    /* border-radius: 0 !important; */    
  }
  
  .navbar,
  .navbar-nav,
  .dropdown-menu,
  .navbar-toggler {
    /* This will completely remove border from the icon */
    /* If you need border for the icon then comment this code */
     border: 0 !important;
  
    /* if you want to check the border please uncomment below code */
    /* border-color: yellow !important; */
  }
  
  .navbar,
  .navbar-nav:active {
    /*Below line will remove the border from the icon
    I have used bootstrap icon here */
    /* This will only remove the shadow effect */
    /* Border is still there */
    /* if you don't want any border then set the property equals to zero */
    border: 0 !important;
    box-shadow: none !important;
  
    /* This will remove the rounded corner(radious-border)
    and give square border */
    /* border-radius: 0 !important; */    
  }